<ion-content class="ion-padding">
  @if ((gameStatus$|async) === 'started') {
    <h2 class="ion-text-center">En attente des autres joueurs... ⏳</h2>
  }
  @if ((gameStatus$|async) === 'validation') {
    <h2 class="ion-text-center">En attente de validation... ⏳</h2>
  }

  <h3 class="ion-text-center">Réponses des joueurs</h3>

  <ion-card class="ion-padding ion-margin">
    <ion-card-title>Temps restant : <strong>{{ (turn$ | async)?.timer}}s</strong></ion-card-title>

    <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col><strong>Joueur</strong></ion-col>
        @for (cat of (game$|async)?.categories; track cat) {
          <ion-col>
            <strong>{{ cat }}</strong>
          </ion-col>
        }
      </ion-row>

      @for (player of (players$ | async); track player.uid) {
        <ion-row>
          <ion-col>{{ player.pseudo }}</ion-col>
          @for (cat of (game$|async)?.categories; track cat) {
            <ion-col>
              @if(player.uid == uid || (allDone$ | async)){
                {{ player?.getAnswer(cat) }}
              } @else if ((gameStatus$|async) === 'validation') {
                -
              } @else {
                <ion-spinner name="dots"></ion-spinner>
              }
            </ion-col>
          }
        </ion-row>
      }
    </ion-grid>
  </ion-card-content>
    </ion-card>
</ion-content>
