<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-card-title class="ion-text-center">Salle d’attente</ion-card-title>
    <ion-card-subtitle class="ion-text-md-center">
      <ion-grid>
        <ion-row>
          <ion-label class="ion-text-center">Partie Code : <strong>{{ gameId }}</strong></ion-label>
        </ion-row>

        @if (host) {
          <ion-row class="ion-margin-top ion-align-items-center">
            <ion-label>Lien d'invitation : {{shareUrl}}</ion-label>
            <ion-button size="small" fill="outline" (click)="copyLink()">Copier</ion-button>
          </ion-row>
        }
      </ion-grid>
    </ion-card-subtitle>

    <ion-card-content>
      <ion-list>
        @for ( player of (players$|async); track player.uid){
          @if(!player.host){
            <ion-item>
              <ion-label>{{ player.pseudo }}</ion-label>
            </ion-item>
          }
        }
      </ion-list>

    </ion-card-content>

    @if (host && (players$|async)?.length! > 2){
      <ion-button
        expand="block"
        color="success"
        (click)="startGame()"
        class="ion-margin-top"
      >Lancer la partie</ion-button>
    }
</ion-card>
</ion-content>
