<ion-content class="ion-padding">
  <h2 class="ion-text-center">Validation des réponses</h2>
  <h3 class="ion-text-center">Lettre : {{ (turn$ | async)?.letter }}</h3>
  <ion-card class="ion-padding">
    <ion-card-title>
      Temps restant : <strong><ion-text [color]="getTimerColor((turn$ | async)?.timer)">{{ (turn$ | async)?.timer}}s</ion-text></strong>
    </ion-card-title>

    <ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2"><strong>Joueur</strong></ion-col>
      @for (cat of (game$|async)?.categories; track cat) {
        <ion-col><strong>{{ cat }}</strong></ion-col>
      }
    </ion-row>

    @for (player of (players$|async); track player.uid) {
      <ion-row>
      <ion-col size="2">{{ player.pseudo }}</ion-col>

        @for (cat of (game$|async)?.categories; track cat) {
          <ion-col>
        <ion-item lines="none">
          <ion-label (click)="player.answers.get(cat)!.valide = !player.answers.get(cat)!.valide">
            {{ player?.getAnswer(cat)  }}
          </ion-label>
          @if(player.answers.has(cat)){
            <ion-checkbox
              [(ngModel)]="player.answers.get(cat)!.valide"
              [checked]="false"
              slot="end"
            ></ion-checkbox>
          }
        </ion-item>
      </ion-col>
        }
    </ion-row>
    }
  </ion-grid>
      </ion-card-content>

    @if ((gameStatus$|async) === 'validation' || (allDone$|async)){
      <ion-button expand="block" color="success" (click)="validateRound()" class="ion-margin-top">
        Valider la manche
      </ion-button>
    }
    </ion-card>
</ion-content>
