<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-card-title class="ion-text-center">Rejoindre une partie</ion-card-title>
    <ion-card-subtitle class="ion-text-center ion-margin-top">Code : <strong>{{ gameId }}</strong></ion-card-subtitle>

    <ion-card-content>
      @if (status != 'started') {
        <ion-item>
        <ion-label position="stacked">Ton pseudo</ion-label>
        <ion-input [(ngModel)]="pseudo"></ion-input>
      </ion-item>
      }
    </ion-card-content>
    @if (status != 'started') {
      <ion-button expand="block" class="ion-margin-top" (click)="joinGame()">
    Rejoindre
  </ion-button>
    }
  </ion-card>
</ion-content>
